.field {
    display: flex;
    margin-bottom: 1px;
  }
  
  .field .label {
    flex: 0 0 200px;
    padding: 10px 10px;
    background-color: #ccc;
    text-align: right;
    font-weight: bold;
  }
  
  .field .value {
    flex: 1 1 auto;
    margin-left: 1px;
    padding: 10px 10px;
    background-color: #eee;
  }
  